.stock-badge {
  font-weight: 500;
  padding: 0.4rem 0.75rem;
  font-size: 0.9rem;
}

.stock-in {
  background-color: var(--color-primary);
  color: #fff;
}

.stock-out {
  background-color: #ccc;
  color: #333;
}

.stock-checking {
  background-color: #e0e0e0;
  color: #555;
}
